body::before{
    content: "";
    background-image: url(../img/fundo.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textos{
    width: 300px;
    height: 111px;
    margin-left: 50px;
    color: #fff;
}

.textos h2{
    width: 287px;
    height: 46px;
    text-wrap: wrap;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

.textos p{
    margin-top: 11px;
    width: 300px;
    height: 54px;
    text-wrap: wrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 378px;
    background-color: #fff;
    margin: 12px 50px 12px 60px;
    padding-left: 21px;
}

.formulario input{
    margin-top: 15px;
    width: 298px;
    height: 35px;
    border: solid 1px #000;
    border-radius: 5px;
    padding-left: 10px;
}

.formulario input#nome{
    margin-top: 20px;
}

.formulario input#mensagem{
    margin-bottom: 7px;
    height: 100px;
    padding-bottom: 75px;
    padding-top: 8px;
}

.formulario .aviso{
    padding-top: 8px;
    margin-bottom: 6px;
    padding-left: 16px;
}

.formulario .aviso.mensagem{
    padding-top: 0;
}

.formulario .campo-input.nao-preenchido{
    border: solid 1px #F52E2E;
    margin-top: 6px;
}

.formulario .aviso.nao-preenchido{
    color: #F52E2E;
    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
}

.formulario .campo-input.preenchido{
    border: solid 1px #00C22B;
    margin-top: 15px;
}

.formulario .aviso.preenchido{
    display: none;
}

.formulario p{
    margin-top: -7px;
    margin-bottom: 20px;
    margin-left: -15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.formulario .botao-enviar{
    width: 298px;
    height: 41px;
    text-decoration: none;
    color: #fff;
    background-color: #3CCC87;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    border-radius: 5px;
    padding: 12px 127px;
    margin-bottom: 20px;
    border: none;
}